{
    "apiKey": "",
    "secretKey": "",
    "subAccount": "",
    "myName": "",
    "symbol": "USDT/USD",
    "qty": 1,
    "price": 2,
    "sellPrice": 10,
    "ioc": true,
    "startTime": "2021-01-01T00:00:00Z",
    "checkDur": "10s",
    "quickDur": "1s",
    "ding": ""
}